@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');

// Define
.dark {
    border: 1px solid black !important;
}
.light{
    
}
.enable{
    display: flex !important;
}

.disable{
    display: none !important;
}
.show{
    animation: alternate letshow .3s forwards;
}
.hide{
    animation: alternate lethide .3s forwards;
}
@keyframes letshow{
    to{
        left: 0;
    }
    from{
        left: 100%;
    }
}
@keyframes lethide{
    to{
        left: 100%;
    }
    from{
        left: 0;
    }
}
:root {
    --aColor: #84deff;
    --primary: #fe2c55;
    --fontColor: black;
    --cha: #b88c5c;
    --top: 80px;
    --myColor: rgb(210, 210, 210);
    --borderR: 5px;
    --boxS: 3px 3px 7px rgb(150, 150, 150, .7);
    --fontComfor: 'Comfortaa', cursive;
    --fontZen: 'Zen Maru Gothic', sans-serif;
    --opa: 1;
}
html {
    font-size: 62.5%;
    cursor: default;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    margin: 0;
    padding: 0;
    position: relative;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
button{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px !important;
}

// Background
.background{
    position: fixed;
    top: var(--top);
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

// Nav
.nav{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 102;
    // box-shadow: var(--boxS);
}
.nav-container{
    height: 100%;
    width: 100%;
}
// .home-container-item{
//     height: 100%;
//     width: 100%;

//     img{
//         height: 100%;
//         width: 100%;
//         object-fit: cover;
//     }
// }
.nav-items{
    width: 100%;
    height: 100%;
    background: white;
    padding: 0 2rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-items-container{
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid black;
}
.nav-items-logo{
    width: 80px;
    height: 38px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img{
        width:100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--borderR);
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 2rem;
    }
}
.nav-items-search{
    display: flex;
    align-items: center;
    position: relative;

    div{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50px;
        margin-left: 1rem;
        border-radius: var(--borderR);
        display: flex;
        align-items: center;
        justify-content: center;
        // border: 1px solid red;

        &:hover{
            cursor: pointer;

            img{
                opacity: var(--opa);
            }
        }

        img{
            width: 20px;
            height: 20px;
        }
    }
    
    input{
        border: 2px solid var(--myColor);
        // border-radius: var(--borderR);
        border-radius: 100rem;
        height: 40px;
        width: 400px;
        padding: 0 1.5rem 0 1.5rem;
        font-size: 16px;
        font-family: var(--fontComfor);

        &:focus{
            outline: none;
        }

        &::placeholder{
            color: var(--myColor);
        }
    }
}
.nav-items-btnGroup{
    display: flex;
}
.nav-items-btn{
    height: 100%;
    // width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;

    // div{
    //     height: 40px;
    //     width: 80px;
    //     border: 2px solid var(--myColor);
    //     border-radius: var(--borderR);
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;

    //     &:hover{
    //         opacity: var(--opa);
    //         cursor: pointer;
    //     }
    // }
}
.nav-items-light{
    img{
        width: 25px;
        height: 25px;
    }

    &:hover{
        cursor: pointer;
    }
}

// Home
.home{
    position: absolute;
    top: var(--top);
    width: 100%;
    z-index: 100;
    color: var(--fontColor);
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-top: 20px;
    background: rgba(50, 50, 50, 0.4);

    a{
        text-decoration: underline !important;
        color: var(--aColor) !important;
        // font-size: 20px;
    }
}
.home-container{
    position: absolute;
    top: 0;
    // border: 1px solid blue;
}
.home-container-item{
    width: 100%;
    background: white;
    // margin-bottom: 30rem;
    // box-shadow: var(--boxS);
    // border-radius: var(--borderR);
    position: relative;
    display: flex;
}
.home-container-item-last{
    width: 100%;
    height: 900px;
    background: white;
    // box-shadow: var(--boxS);
    // border-radius: var(--borderR);
}
.home-container-item-left{
    width: 50%;
    padding: 5rem 5rem 5rem 2rem;
    position: relative;
}
.home-container-item-left-background{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-container-item-left-title{
    font-size: 10rem;
    font-weight: 700;
    font-family: var(--fontComfor);
    color: var(--cha);
    letter-spacing: 10px;
    text-shadow: 7px 5px var(--myColor);
    margin: 0 0 3rem 0;
    text-align: center;
}
.home-container-item-left-contents{
    font-size: 3rem;
    line-height: 60px;
    font-family: var(--fontZen);
}
.home-container-item-left-btn{
    display: flex;
    margin-top: 3rem;

    div{
        height: 70px;
        width: 250px;
        border: 2px solid var(--myColor);
        border-radius: var(--borderR);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;

        &:hover{
            opacity: var(--opa);
            cursor: pointer;
        }
    }
}
.home-container-item-right{
    width: 50%;
    padding: 5rem 2rem 5rem 5rem;
}

.img-container{
    width: 100%;
    height: 100%;

    img{
        border: 1px solid var(--cha);
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-right-radius: var(--borderR);
        border-bottom-left-radius: var(--borderR);
    }
}

// Register, login
.register, .login{
    position: absolute;
    top: var(--top);
    left: 0;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-container, .login-container{
    width: 30%;
    height: 700px;
    border-radius: var(--borderR);
    border: 2px solid var(--myColor);
    padding: 5rem;
    box-shadow: var(--boxS);
}
.register-container-title, .login-container-title{
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.register-container-items, .login-container-items{
    width: 100%;
}
.register-container-item, .login-container-item{
    width: 100%;
    margin-bottom: 3rem;

    div{
        width: 100%;
    }
    
    input{
        width: 100%;
        height: 40px;
        border: 2px solid var(--myColor);
        border-radius: var(--borderR);
        padding: 0 .5rem 0 .5rem;
        font-size: 16px;
        font-family: var(--fontComfor);

        &:focus{
            outline: none;
        }

        &::placeholder{
            color: var(--myColor);
        }
    }
}
.register-btn, .login-btn{
    width: 100%;
    height: 40px;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    button{
        width: 100px;
        height: 100%;
        border: 2px solid var(--myColor);
        border-radius: var(--borderR);

        &:hover{
            cursor: pointer;
        }
    }
}
.register-link, .login-link{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
        text-decoration: underline !important;
        color: var(--aColor) !important;
    }
}
.text-danger{
    color: var(--primary) !important;
}
.is-invalid{
    border-color: var(--primary) !important;
}

// Explore
.explore{
    position: fixed;
    top: var(--top);
    left: 0;
    height: calc(100vh - 80px);
    background: white;
    z-index: 101;
    border-right: 2px solid var(--myColor);
    overflow: hidden;
}
.explore-items{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
}
.explore-item{
    display: flex;
    align-items: center;
    margin: 0 0 3rem 2rem;

    img{
        width: 25px;
        height: 25px;
        margin-right: 2.5rem;
    }

    &:hover{
        cursor: pointer;
    }
}
.explore-line{
    width: 100%;
    height: calc(3rem + 2px);
    border-top: 2px solid var(--myColor);
    opacity: .3;
    // margin: 0 auto;
}
.explore-disable{
    display: none;
}

// Chatbox
.chatbox{
    position: fixed;
    bottom: 0;
    right: 0;
    border: 2px solid var(--myColor);
    border-radius: var(--borderR);
    background: white;
    width: 400px;
    height: 550px;
    z-index: 103;
    padding: 1rem;
    overflow: hidden;
}
.chatbox-title{
    font-size: 30px;
    font-weight: 700;
    font-family: var(--fontComfor);
    color: var(--cha);
    text-align: center;
}
.chatbox-search{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    input{
        border: 2px solid var(--myColor);
        // border-radius: var(--borderR);
        border-radius: 100rem;
        height: 40px;
        width: 300px;
        padding: 0 1.5rem 0 1.5rem;
        font-size: 16px;
        font-family: var(--fontComfor);

        &:focus{
            outline: none;
        }

        &::placeholder{
            color: var(--myColor);
        }
    }
}
.chatbox-container{
    width: 100%;
    // border: 1px solid red;
    margin-top: 3rem;
}
.chatbox-container-items{
    width: 100%;
}
.chatbox-container-item{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.chatbox-container-item-avatar{
    border: 1px solid var(--myColor);
    height: 60px;
    width: 60px;
    border-radius: 100rem;
    margin-right: 2rem;
    overflow: hidden;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.chatbox-container-item-name{
    
}
.chatbox-container-item-message{
    color: var(--myColor);
}
.chatbox-login{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(210, 210, 210, .5);

    div{
        width: 150px;
        height: 45px;
        border: 2px solid black;
        border-radius: var(--borderR);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.chatbox-chat{
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: var(--borderR);
}

// Slide
.slide{
    width: 100%;
    padding: 0 2rem 0 2rem;
}
.slide-container{
    width: 100%;
    overflow-x: scroll;
}
.slide-container-main{
    width: 10000px;
    height: 500px;
    display: flex;
}
.slide-title{
    color: var(--cha);
    font-family: var(--fontZen);
    display: flex;
    justify-content: space-between;
    // margin-bottom: 1rem;

    img {
        width: 3.5rem;
        height: 3.5rem;
        margin-right: 5px;
    }
}
.slide-title-left{
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    letter-spacing: 5px;
}
.slide-title-right{
    font-size: 2rem;
    display: flex;
    align-items: flex-end;
    opacity: .5;

    &:hover{
        cursor: pointer;
        text-decoration: underline;
    }
}
.slide-container-item{
    width: 400px;
    height: 100%;
    margin-right: 10rem;
    padding: 1rem;
    border: 1px solid var(--cha);
    border-radius: var(--borderR);
}
.slide-container-item-img{
    width: 100%;
    height: 65%;
    display: flex;
    align-items: flex-start;

    img{
        width: 100%;
        height: 100%;
        border-radius: var(--borderR);
        object-fit: cover;
    }
}
.slide-container-item-info{
    
}

















































































































































// --------------------------------------------
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 25px;
  height: 18px;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 100rem;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 8px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
.menu-trigger span:nth-of-type(1) {
    animation: menu-bar01 .5s forwards;
}
@keyframes menu-bar01 {
    0% {
      transform: translateY(8px) rotate(45deg);
    }
    50% {
      transform: translateY(8px) rotate(0);
    }
    100% {
      transform: translateY(0) rotate(0);
    }
}
.menu-trigger span:nth-of-type(2) {
    transition: all .25s .25s;
    opacity: 1;
}
.menu-trigger span:nth-of-type(3) {
    animation: menu-bar02 .5s forwards;
}
@keyframes menu-bar02 {
    0% {
      transform: translateY(-8px) rotate(-45deg);
    }
    50% {
      transform: translateY(-8px) rotate(0);
    }
    100% {
      transform: translateY(0) rotate(0);
    }
}
.menu-trigger.active span:nth-of-type(1) {
    animation: active-menu-bar01 .5s forwards;
}
@keyframes active-menu-bar01 {
    0% {
      transform: translateY(0) rotate(0);
    }
    50% {
      transform: translateY(8px) rotate(0);
    }
    100% {
      transform: translateY(8px) rotate(45deg);
    }
}
.menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
    animation: active-menu-bar03 .5s forwards;
}
@keyframes active-menu-bar03 {
    0% {
      transform: translateY(0) rotate(0);
    }
    50% {
      transform: translateY(-8px) rotate(0);
    }
    100% {
      transform: translateY(-8px) rotate(-45deg);
    }
}