@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');

// Define
.dark {
    border: 1px solid black !important;
}
.light {
}
.enable {
    display: flex !important;
}

.disable {
    display: none !important;
}
.show {
    animation: alternate letshow 0.3s forwards;
}
.hide {
    animation: alternate lethide 0.3s forwards;
}
@keyframes letshow {
    to {
        left: 0;
    }
    from {
        left: 100%;
    }
}
@keyframes lethide {
    to {
        left: 100%;
    }
    from {
        left: 0;
    }
}
:root {
    --aColor: #84deff;
    --primary: #fe2c55;
    --fontColor: black;
    --cha: #b88c5c;
    --top: 65px;
    --myColor: rgb(210, 210, 210);
    --borderR: 5px;
    --boxS: 3px 3px 7px rgb(150, 150, 150, 0.7);
    --fontComfor: 'Comfortaa', cursive;
    --fontZen: 'Zen Maru Gothic', sans-serif;
    --opa: 1;
}
html {
    font-size: 62.5%;
    cursor: default;
}
body {
    // font-family: 'Noto Sans JP', sans-serif;
    font-family: var(--fontZen);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
button {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px !important;
}

// Background
.background {
    position: fixed;
    top: var(--top);
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

// Nav
.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 102;
    // box-shadow: var(--boxS);
}
.nav-container {
    height: 100%;
    width: 100%;
}
.nav-items {
    width: 100%;
    height: 100%;
    background: rgb(245, 245, 245);
    padding: 0 2rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.nav-items-shadow {
    background: linear-gradient(to bottom, transparent, #aaa);
    opacity: 0.1;
    width: calc(100% - 250px);
    pointer-events: none;
    position: absolute;
    bottom: 0;
    height: 0.8rem;
    z-index: 2;
}
.nav-items-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid black;
}
.nav-items-logo {
    width: 65px;
    height: 38px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--borderR);
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 2rem;
    }
}
.nav-items-search {
    display: flex;
    align-items: center;
    position: relative;
    // transform: translateX(-40px);

    div {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50px;
        margin-left: 1rem;
        border-radius: var(--borderR);
        display: flex;
        align-items: center;
        justify-content: center;
        // border: 1px solid red;

        &:hover {
            cursor: pointer;

            img {
                opacity: var(--opa);
            }
        }

        img {
            width: 20px;
            height: 20px;
        }
    }

    input {
        border: 0px solid var(--myColor);
        // border-radius: var(--borderR);
        border-radius: 100rem;
        height: 40px;
        width: 400px;
        padding: 0 1.5rem 0 1.5rem;
        font-size: 16px;
        font-family: var(--fontComfor);
        // box-shadow: 0 1px 5px 1px var(--myColor);

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--myColor);
        }
    }
}
.nav-items-btnGroup {
    display: flex;
}
.nav-items-btn {
    height: 100%;
    // width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;

    // div{
    //     height: 40px;
    //     width: 65px;
    //     border: 2px solid var(--myColor);
    //     border-radius: var(--borderR);
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;

    //     &:hover{
    //         opacity: var(--opa);
    //         cursor: pointer;
    //     }
    // }
}
.nav-items-light {
    img {
        width: 25px;
        height: 25px;
    }

    &:hover {
        cursor: pointer;
    }
}

// Home
.home {
    position: absolute;
    top: var(--top);
    width: 100%;
    z-index: 100;
    color: var(--fontColor);
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-top: 20px;
    background: rgba(50, 50, 50, 0.4);

    a {
        text-decoration: underline !important;
        color: var(--aColor) !important;
        // font-size: 20px;
    }
}
.home-container {
    position: absolute;
    top: 0;
}
.home-container-item {
    width: 100%;
    background: white;
    // margin-bottom: 30rem;
    // box-shadow: var(--boxS);
    // border-radius: var(--borderR);
    position: relative;
    display: flex;
}
.home-container-item-last {
    width: 100%;
    height: 200px;
    background: white;
    // box-shadow: var(--boxS);
    // border-radius: var(--borderR);
}
.home-container-item-left {
    width: 50%;
    padding: 2rem 2rem 2rem 2rem;
    position: relative;
}
.home-container-item-left-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-container-item-left-title {
    font-size: 10rem;
    font-weight: 700;
    font-family: var(--fontComfor);
    color: var(--cha);
    letter-spacing: 10px;
    text-shadow: 7px 5px var(--myColor);
    margin: 0 0 3rem 0;
    text-align: center;
}
.home-container-item-left-contents {
    font-size: 3rem;
    line-height: 60px;
    font-family: var(--fontZen);
}
.home-container-item-left-btn {
    display: flex;
    margin-top: 5rem;
}
.home-container-item-left-btn-text {
    position: relative;
    font-size: 22px;
    padding: 0 0 1rem 0;
    // border: 1px solid red;
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        color: var(--cha);

        .underline {
            transform: scaleX(1);
            transform-origin: bottom left;
        }

        img {
            animation: kaiten 0.6s linear;
        }
    }
}
.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--cha);
    border-radius: 100rem;
    transition: transform 0.3s ease-in-out;
    transform: scaleX(0);
    transform-origin: bottom right;
}
.home-container-item-left-btn-img {
    position: absolute;
    bottom: 0;
    left: 110%;
    width: 70px;
    height: 70px;

    img {
        width: 100%;
        height: 100%;
    }
}
@keyframes kaiten {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
.home-container-item-right {
    width: 50%;
    padding: 2rem 2rem 2rem 2rem;
}

.img-container {
    width: 100%;
    height: 100%;

    img {
        border: 2px solid var(--cha);
        width: 100%;
        height: 100%;
        object-fit: cover;
        // border-top-left-radius: 100px;
        // border-bottom-right-radius: 100px;
        // border-top-right-radius: var(--borderR);
        // border-bottom-left-radius: var(--borderR);
        border-radius: 70px;
    }
}

// Register, login
.register,
.login {
    position: absolute;
    top: var(--top);
    left: 0;
    width: 100%;
    height: calc(100vh - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./Imgs/飛行機なし.png') center/cover no-repeat;
}
.register-container,
.login-container {
    width: 580px;
    height: 700px;
    border-radius: var(--borderR);
    padding: 5rem;
    box-shadow: var(--boxS);
    background: white;
}
.register-container-title,
.login-container-title {
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.register-container-items,
.login-container-items {
    width: 100%;
}
.register-container-item,
.login-container-item {
    width: 100%;
    margin-bottom: 3rem;

    div {
        width: 100%;
    }

    input {
        width: 100%;
        height: 40px;
        border: 2px solid var(--myColor);
        border-radius: var(--borderR);
        padding: 0 0.5rem 0 0.5rem;
        font-size: 16px;
        font-family: var(--fontComfor);

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--myColor);
        }
    }
}
.register-btn,
.login-btn {
    width: 100%;
    height: 40px;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    button {
        width: 100px;
        height: 100%;
        border: 2px solid var(--myColor);
        border-radius: var(--borderR);

        &:hover {
            cursor: pointer;
        }
    }
}
.register-link,
.login-link {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: underline !important;
        color: var(--aColor) !important;
    }
}
.text-danger {
    color: var(--primary) !important;
}
.is-invalid {
    border-color: var(--primary) !important;
}

// Explore
.explore {
    position: fixed;
    top: var(--top);
    left: 0;
    height: calc(100vh - 65px);
    background: rgb(245, 245, 245);
    z-index: 101;
    overflow: hidden;
}
.explore::before {
    background: linear-gradient(to right, transparent, #aaa);
    content: '';
    height: 100%;
    opacity: 0.1;
    pointer-events: none;
    position: absolute;
    right: 0;
    width: 0.8rem;
    z-index: 2;
}
.explore-items {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
}
.explore-item {
    display: flex;
    align-items: center;
    margin: 0 0 3rem 2rem;

    img {
        width: 25px;
        height: 25px;
        margin-right: 2.5rem;
    }

    &:hover {
        cursor: pointer;
    }
}
.explore-line {
    width: 100%;
    height: calc(3rem + 2px);
    border-top: 2px solid var(--myColor);
    opacity: 0.2;
    // margin: 0 auto;
}
.explore-disable {
    display: none;
}

// Chatbox
.chatbox {
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: var(--borderR);
    background: white;
    width: 400px;
    min-height: calc(550px + 1rem);
    z-index: 103;
    padding: 1rem;
    border: 2px solid var(--myColor);
}
.chatbox-title {
    font-size: 30px;
    font-weight: 700;
    font-family: var(--fontComfor);
    color: var(--cha);
    text-align: center;
}
.chatbox-search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    input {
        border: 2px solid var(--myColor);
        // border-radius: var(--borderR);
        border-radius: 100rem;
        height: 40px;
        width: 300px;
        padding: 0 1.5rem 0 1.5rem;
        font-size: 16px;
        font-family: var(--fontComfor);

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--myColor);
        }
    }
}
.chatbox-container {
    width: 100%;
    // border: 1px solid red;
    margin-top: 3rem;
}
.chatbox-container-items {
    width: 100%;
}
.chatbox-container-item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.chatbox-container-item-avatar {
    border: 1px solid var(--myColor);
    height: 60px;
    width: 60px;
    border-radius: 100rem;
    margin-right: 2rem;
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.chatbox-container-item-message {
    color: var(--myColor);
}
.chatbox-login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(210, 210, 210, 0.5);

    div {
        width: 150px;
        height: 45px;
        border: 2px solid black;
        border-radius: var(--borderR);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.chatbox-chat {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: var(--borderR);
}

// Message
.message {
    display: flex;
    flex-direction: column-reverse;
    // padding: 1rem;
    overflow-y: hidden;
    height: 456px;
}
.message-box {
    display: flex;
    margin: 0.5rem 1rem 0.5rem 1rem;
}
.message-title {
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 0;
    height: 50px;
}
.message-name {
    font-weight: 500;
    font-size: 20px;
    margin-left: 2rem;
}
.message-close {
    height: 100%;
    margin-left: 1rem;
    display: flex;
    align-items: center;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    img {
        height: 20px;
        width: 20px;
    }
}
.message-send {
    position: absolute;
    width: 100%;
    height: calc(100% - 50px - 456px);
    padding: 0 1rem 0 1rem;
}
.sent {
    width: auto;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 100rem;
    background: #0d6efd;
    color: white;
    margin-left: auto;
    margin-right: 0;
}
.received {
    width: auto;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 100rem;
    background: #e9ecef;
    margin-right: auto;
    margin-left: 0;
}

// Slide
.slide {
    width: 100%;
    padding: 0 2rem 1rem 2rem;
}
.slide-container {
    width: 100%;
    overflow: hidden;
}
.slide-container-main {
    // width: 8340px;
    height: 500px;
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1rem;
}
.slide-title {
    color: var(--cha);
    font-family: var(--fontZen);
    display: flex;
    justify-content: space-between;
    // margin-bottom: 1rem;

    img {
        width: 3.5rem;
        height: 3.5rem;
        margin-right: 5px;
    }
}
.slide-title-left {
    font-size: 3rem;
    display: flex;
    align-items: center;
    letter-spacing: 5px;
}
.slide-title-right {
    font-size: 2rem;
    display: flex;
    align-items: flex-end;
    opacity: 0.5;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}
.slide-container-item {
    width: 480px;
    height: 95%;
    margin-right: 8rem;
    padding: 1rem;
    // border: 1px solid var(--cha);
    border-radius: var(--borderR);
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        box-shadow: 0 3px 10px 3px var(--myColor);

        img {
            transform: scale(0.98);
            width: 100%;
            height: 100%;
        }

        .slide-container-item-info {
            span {
                color: var(--cha);
            }
        }
    }
}
.slide-container-item-img {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: flex-end;

    img {
        width: 100%;
        height: 100%;
        border-radius: var(--borderR);
        object-fit: cover;
        transition: all 0.3s ease;
    }
}
.slide-container-item-info {
    font-size: 22px;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;

    span {
        border-radius: var(--borderR);
        transition: all 0.3s ease-in-out;
    }
}
.slide-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    margin-left: auto;
    margin-right: 0;
    border-radius: 100rem;
    box-shadow: 0 3px 5px 3px var(--myColor);
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
}
.slide-btn-pre,
.slide-btn-next {
    height: 40px;
    width: 40px;
    border-radius: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // transition: all .3s ease-in-out;

    img {
        width: 20px;
        height: 20px;
        opacity: 0.4;
        // transition: all .3s ease-in-out;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 1px 5px 1px var(--myColor);

        img {
            width: 30px;
            height: 30px;
            opacity: 1;
        }
    }
}
.slide-percent {
    height: 15px;
    width: 60%;
    border: 2px solid rgb(184, 140, 92, 0.4);
    border-radius: 100rem;
}

// Prefectures
.prefectures {
    width: 100%;
}
.prefectures-items {
    width: 600px;
    font-family: var(--fontZen);
    margin: 0 auto;
    // transform: translateX(-40px);
    margin-bottom: 22px;
}
.prefectures-item {
    line-height: 40px;
    font-size: 16px;
}
.prefectures-title {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 2rem;
}
.prefectures-container {
    width: 100%;
}
.prefectures-container-img {
    width: 1000px;
    height: 260px;
    // transform: translateX(-40px);
    margin: 0 auto;
    border-radius: var(--borderR);
    overflow: hidden;
    margin-bottom: 22px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.prefectures-container-items {
    height: 45px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
}
.prefectures-container-item {
    font-size: 22px;
    border: 2px solid var(--cha);
    border-radius: 100rem; //var(--borderR);
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 1rem;
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        color: var(--cha);

        .prefectures-container-box {
            border: 1px solid rgb(0, 119, 255);
        }
    }
}
.prefectures-container-box {
    height: 500px;
    width: 1520px;
    border: 1px solid rgb(255, 0, 0);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
}
// --------------------------------------------
.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
}
.menu-trigger {
    position: relative;
    width: 25px;
    height: 18px;
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;
}
.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    border-radius: 100rem;
}
.menu-trigger span:nth-of-type(1) {
    top: 0;
}
.menu-trigger span:nth-of-type(2) {
    top: 8px;
}
.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}
.menu-trigger span:nth-of-type(1) {
    animation: menu-bar01 0.5s forwards;
}
@keyframes menu-bar01 {
    0% {
        transform: translateY(8px) rotate(45deg);
    }
    50% {
        transform: translateY(8px) rotate(0);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}
.menu-trigger span:nth-of-type(2) {
    transition: all 0.25s 0.25s;
    opacity: 1;
}
.menu-trigger span:nth-of-type(3) {
    animation: menu-bar02 0.5s forwards;
}
@keyframes menu-bar02 {
    0% {
        transform: translateY(-8px) rotate(-45deg);
    }
    50% {
        transform: translateY(-8px) rotate(0);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}
.menu-trigger.active span:nth-of-type(1) {
    animation: active-menu-bar01 0.5s forwards;
}
@keyframes active-menu-bar01 {
    0% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: translateY(8px) rotate(0);
    }
    100% {
        transform: translateY(8px) rotate(45deg);
    }
}
.menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
    animation: active-menu-bar03 0.5s forwards;
}
@keyframes active-menu-bar03 {
    0% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: translateY(-8px) rotate(0);
    }
    100% {
        transform: translateY(-8px) rotate(-45deg);
    }
}
