@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;500;700&display=swap');

.dark {

    button{
        color: blue !important;
    }
}

.light{
    
    button{
        color: red !important;
    }
}

:root {
    --aColor: #84deff;
    --primary: #fe2c55;
    --fontColor: black;
    --cha: #b88c5c;
    --top: 80px;
    --myColor: rgb(210, 210, 210);
    --borderR: 5px;
    --boxS: 3px 3px 7px rgb(150, 150, 150, .7);
    --fontFamily: 'Comfortaa', cursive;
    --opa: 1;
}
html {
    font-size: 62.5%;
    cursor: default;
}
body {
    font-family: 'Comfortaa', cursive;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    margin: 0;
    padding: 0;
    position: relative;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}

// Background
.background{
    position: fixed;
    top: var(--top);
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

// Nav
.nav{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 102;
    // box-shadow: var(--boxS);
}
.nav-container{
    height: 100%;
    width: 100%;
}
.home-container-item{
    height: 100%;
    width: 100%;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.nav-items{
    width: 100%;
    height: 100%;
    background: white;
    padding: 0 2rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-items-container{
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid black;
}
.nav-items-logo{
    width: 80px;
    height: 38px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img{
        width:100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--borderR);
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 2rem;
    }
}
.nav-items-search{
    display: flex;
    align-items: center;
    position: relative;

    div{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50px;
        margin-left: 1rem;
        border-radius: var(--borderR);
        display: flex;
        align-items: center;
        justify-content: center;
        // border: 1px solid red;

        &:hover{
            cursor: pointer;

            img{
                opacity: var(--opa);
            }
        }

        img{
            width: 20px;
            height: 20px;
        }
    }
    
    input{
        border: 2px solid var(--myColor);
        // border-radius: var(--borderR);
        border-radius: 100rem;
        height: 40px;
        width: 400px;
        padding: 0 1.5rem 0 1.5rem;
        font-size: 16px;
        font-family: 'Comfortaa', cursive;

        &:focus{
            outline: none;
        }

        &::placeholder{
            color: var(--myColor);
        }
    }
}
.nav-items-btn{
    height: 100%;
    // width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    div{
        height: 40px;
        width: 80px;
        border: 2px solid var(--myColor);
        border-radius: var(--borderR);
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover{
            opacity: var(--opa);
            cursor: pointer;
        }
    }
}

.home{
    position: absolute;
    top: var(--top);
    width: 100%;
    z-index: 100;
    color: var(--fontColor);
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-top: 20px;
    background: rgba(50, 50, 50, 0.4);
}
.home-container{
    position: absolute;
    top: 0;
    // border: 1px solid blue;
}
.home-container-item{
    width: 100%;
    height: 1000px;
    background: white;
    // margin-bottom: 30rem;
    // box-shadow: var(--boxS);
    // border-radius: var(--borderR);
    position: relative;
    display: flex;
}
.home-container-item-last{
    width: 100%;
    height: 900px;
    background: white;
    // box-shadow: var(--boxS);
    // border-radius: var(--borderR);
}
.home-container-item-left{
    width: 50%;
    padding: 5rem 5rem 5rem 2rem;
    
}
.home-container-item-left-title{
    font-size: 10rem;
    font-weight: 700;
    color: var(--cha);
    letter-spacing: 10px;
    text-shadow: 7px 5px var(--myColor);
    margin: 0 0 3rem 0;
    text-align: center;
}
.home-container-item-left-contents{
    font-family: 'Zen Maru Gothic', sans-serif !important;
    font-size: 3rem;
    line-height: 60px;
}
.home-container-item-left-btn{
    display: flex;
    margin-top: 3rem;

    div{
        height: 70px;
        width: 250px;
        border: 2px solid var(--myColor);
        border-radius: var(--borderR);
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover{
            opacity: var(--opa);
            cursor: pointer;
        }
    }
}
.home-container-item-right{
    width: 50%;
    padding: 5rem 2rem 5rem 5rem;
}

.img-container{
    width: 100%;
    height: 100%;

    img{
        border: 5px solid var(--myColor);
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 100px;
        border-bottom-right-radius: 100px;
        border-top-right-radius: var(--borderR);
        border-bottom-left-radius: var(--borderR);
    }
}

.register, .login{
    position: absolute;
    top: var(--top);
    left: 0;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-container, .login-container{
    width: 30%;
    height: 700px;
    border-radius: var(--borderR);
    border: 2px solid var(--myColor);
    padding: 5rem;
    box-shadow: var(--boxS);
}
.register-container-title, .login-container-title{
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.register-container-items, .login-container-items{
    width: 100%;
}
.register-container-item, .login-container-item{
    width: 100%;
    margin-bottom: 3rem;

    div{
        width: 100%;
    }
    
    input{
        width: 100%;
        height: 40px;
        border: 2px solid var(--myColor);
        border-radius: var(--borderR);
        padding: 0 1.5rem 0 1.5rem;
        font-size: 16px;
        font-family: 'Comfortaa', cursive;

        &:focus{
            outline: none;
        }

        &::placeholder{
            color: var(--myColor);
        }
    }
}
.register-btn, .login-btn{
    width: 100%;
    height: 40px;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    button{
        width: 100px;
        height: 100%;
        border: 2px solid var(--myColor);
        border-radius: var(--borderR);

        &:hover{
            cursor: pointer;
        }
    }
}
.register-link, .login-link{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
        text-decoration: underline !important;
        color: var(--aColor) !important;
    }
}

.explore{
    position: fixed;
    top: var(--top);
    left: 0;
    height: calc(100vh - 80px);
    background: white;
    z-index: 101;
    border-right: 1px solid var(--myColor);
    // text-align: center;
    overflow: hidden;
}
.explore-item{
    display: flex;
    align-items: center;
    margin: 0 0 3rem 2rem;

    img{
        width: 25px;
        height: 25px;
        margin-right: 2.5rem;
    }
}


































































































// --------------------------------------------
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 25px;
  height: 18px;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 100rem;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 8px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
.menu-trigger span:nth-of-type(1) {
    animation: menu-bar01 .5s forwards;
}
@keyframes menu-bar01 {
    0% {
      transform: translateY(8px) rotate(45deg);
    }
    50% {
      transform: translateY(8px) rotate(0);
    }
    100% {
      transform: translateY(0) rotate(0);
    }
}
.menu-trigger span:nth-of-type(2) {
    transition: all .25s .25s;
    opacity: 1;
}
.menu-trigger span:nth-of-type(3) {
    animation: menu-bar02 .5s forwards;
}
@keyframes menu-bar02 {
    0% {
      transform: translateY(-8px) rotate(-45deg);
    }
    50% {
      transform: translateY(-8px) rotate(0);
    }
    100% {
      transform: translateY(0) rotate(0);
    }
}
.menu-trigger.active span:nth-of-type(1) {
    animation: active-menu-bar01 .5s forwards;
}
@keyframes active-menu-bar01 {
    0% {
      transform: translateY(0) rotate(0);
    }
    50% {
      transform: translateY(8px) rotate(0);
    }
    100% {
      transform: translateY(8px) rotate(45deg);
    }
}
.menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
    animation: active-menu-bar03 .5s forwards;
}
@keyframes active-menu-bar03 {
    0% {
      transform: translateY(0) rotate(0);
    }
    50% {
      transform: translateY(-8px) rotate(0);
    }
    100% {
      transform: translateY(-8px) rotate(-45deg);
    }
}